<!DOCTYPE html>
<html>
<title>NimUbuntu Store</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
<script src="https://code.iconify.design/1/1.0.0-rc7/iconify.min.js"></script>


<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="{{ url_for('static', filename='css/style-contributor.css') }}" rel="stylesheet" type="text/css" >

<body>
<form id='about' method="POST" action="">
  
    <div class="w3-bar w3-black" id ="navbar" >
      <a href="{{url_for('home')}}" class="w3-bar-item w3-button">Home</a>
      <a href="{{url_for('category')}}" class="w3-bar-item w3-button">Category</a>
      <a href="{{url_for('applications')}}" class="w3-bar-item w3-button">Applications</a>
      <a href="{{url_for('about')}}" class="w3-bar-item w3-button">About</a>
        <a href="{{url_for('contributor')}}" class="w3-bar-item w3-button">Contributor</a>
    </div>

    <div class = "bg-text content">
        <h1><b>Nimesh Kumar</b></h1>
    
    <p>Software Developer</b></p>
<a href="https://www.linkedin.com/in/nimesh-kumar-93ba5496/" target="https://www.linkedin.com/in/nimesh-kumar-93ba5496/" class="fa fa-linkedin zoom" style="font-size:28px;color:white"></a>
<a href="https://www.facebook.com/attitude.rules16" target="https://www.facebook.com/attitude.rules16" class="fa fa-facebook zoom" style="font-size:28px;color:white"></a>
<a href="https://github.com/nimesh0505" target="https://github.com/nimesh0505" class="fa fa-github zoom" style="font-size:28px;color:white"></a>
<a href="https://twitter.com/nimesh0505" target="https://twitter.com/nimesh0505" class="fa fa-twitter zoom" style="font-size:28px;color:white"></a>
<a href="http://www.nimesh-kumar.in" target="http://www.nimesh-kumar.in" class="fa fa-globe zoom" style="font-size:28px;color:white"></a>





    </div>  



</div>
</form>

</body>

</html>
